body{
    background-color: rgb(123, 72, 170);
}

.minhafoto img{
    width: 350px;
    height: 450px;
    box-shadow: rgba(255, 255, 255, 0.4) 5px 5px, rgba(255, 255, 255, 0.3) 10px 10px, rgba(255, 255, 255, 0.2) 15px 15px, rgba(255, 255, 255, 0.1) 20px 20px, rgba(255, 255, 255, 0.05) 25px 25px;
}
h1{
    color: rgb(244, 239, 250);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 4px 4px #51266a;
    
}
h3{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:rgba(56, 8, 101, 0.686) ;
    
}
.texto1 p{
    font-size: 24px;
    color: rgb(2, 2, 2);
    background-color:rgba(182, 139, 223, 0.686);
   
    
}
.alinhar{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    
    
   
    
}
.alinhar h3{
    width: 800px;
    display: flex;
    justify-content: center;
    
}
.alinhar-imgs{
    display: flex;
    justify-content: space-around;
}
.familia img{
    width: 350px;
    box-shadow: rgba(57, 2, 86, 0.4) 5px 5px, rgba(55, 2, 67, 0.3) 10px 10px, rgba(66, 5, 80, 0.2) 15px 15px, rgba(58, 5, 89, 0.1) 20px 20px, rgba(83, 4, 93, 0.05) 25px 25px;
  
    object-fit: cover;
}
.priminhos img{
    width: 230px;
    box-shadow: rgba(57, 2, 86, 0.4) 5px 5px, rgba(55, 2, 67, 0.3) 10px 10px, rgba(66, 5, 80, 0.2) 15px 15px, rgba(58, 5, 89, 0.1) 20px 20px, rgba(83, 4, 93, 0.05) 25px 25px;
  
    object-fit: cover;
}
.bests img{

    height: 280px;
    box-shadow: rgba(57, 2, 86, 0.4) 5px 5px, rgba(55, 2, 67, 0.3) 10px 10px, rgba(66, 5, 80, 0.2) 15px 15px, rgba(58, 5, 89, 0.1) 20px 20px, rgba(83, 4, 93, 0.05) 25px 25px;
    object-fit: cover;
}
.imgsfilme img{
    width: 250px;
    height: 350px;
    transition: box-shadow 0.5s;
    

}
.imgsfilme img:hover{
    box-shadow: rgba(255, 255, 255, 0.4) 5px 5px, rgba(255, 255, 255, 0.3) 10px 10px, rgba(255, 255, 255, 0.2) 15px 15px, rgba(255, 255, 255, 0.1) 20px 20px, rgba(255, 255, 255, 0.05) 25px 25px;
}
.imgsfilme{
    display: flex;
    justify-content: space-around;
}
.filme{
    display: flex;
    flex-direction: column;
}
.filme a{
    color: rgb(250, 247, 247);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: rgb(43, 7, 76);
}
.competencia p{
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 700;
    color: #420c5f;
    text-shadow: 2px 2px #9a78b8;
    padding: 10px;
}
.taekwondo img{
    height: 400px;
    width: 500px;
}
.parlamento img{
    height: 400px;
    width: 450px;
}
.acessorio img{
    height: 400px;
    width: 450px;
}
.alinhar2{
    display: flex;
    justify-content: space-around;
    
}

